<div class ='container'>
  <h1>ABOUT US!</h1>  
  <p >Just a couple of travel-enthusiasts and web-developers with a mission to make travel easier in pandemic times </p>
</div>
  <div class ='about-us'>
    <div class="members">
      <img class="our-image" src="/images/rutul.png">
      <p><a href="https://github.com/Rumas97">Find me on GitHub: Rutul</a></p>
    </div>
    <br>
    <br>
    <div class= "members">
      <img class="our-image" src="/images/raquel.png">
      <p><a href="https://github.com/Ragar23">Find me on GitHub: Raquel</a></p>
    </div>

  </div>



