<h1>ENTER YOUR EXPERIENCE TO HELP OTHERS TRAVEL SAFELY</h1>

<form action="/add-information" method="POST">
  <label>Date</label>
  <input name="date" type="text"  placeholder="Enter the date you travelled"  >
  
  <label>Travelling to</label>
  <input name="travellingTo" type="text" placeholder="Where are you travelling to?"  >

  <label>Travelling from</label>
  <input name="travellingFrom" type="text"  placeholder="Where are you travelling from?" >

  <label>Type of COVID test done</label>
  <input name="covidTest" type="text"  placeholder="Is there a COVID test required?" >

  <label>Is quarantine required?</label>
  <input name="quarantine" type="text"  placeholder="Do you need to do quarantine?" >

  <label>Something else you want to add?</label>
  <input name="experience" type="text"  placeholder="Enter some more info" >
  
  <button >Get your info verified</button>
</form>