<h2>Edit profile details</h2>

<form action="/profile/edit" method="POST">

  <label for="username">Username</label>
  <input type="text" name="username" value="{{data.username}}">

  <br>

  <label for="">Email</label>
  <input type="email" name="email" value="{{data.email}}">

  <br>

  <button type="submit">Button</button>
</form>

<form method="POST" action="/profile" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/png, image/jpg">
    <button type="submit">Submit</button> 
</form>   

