<h1>500 Error</h1>
<h2>There was an internal error on the server</h2>

<img src= '/images/batsad.gif'>

<h2>Whoops, we messed up! We're working on fixing the problem and will be up and running shortly.</h2>

<br>

<h2>Try refreshing the page or go back to the homepage </h2>



