

<h1>COVID TRAVEL ADVICE</h1>


<h2>
  Check others experience on travelling during COVID, about restrictions and
  tests
</h2>





<h2>Which country are you travelling to?</h2>


<label>Select a country</label>
<select name='travellingTo'>
  <option value=''>Choose a country</option>
  <option value='Germany'>Germany</option>
  <option value='Italy'>Italy</option>
  <option value='Spain'>Spain</option>
</select>
<a href="/travel-restrictions/:travellingTo"> SELECT</a>

<div id="mapid"></div>
<script>let mymap = L.map("mapid").setView([51.505, -0.09], 13);
L.tileLayer(
  "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}",
  {
    attribution:
      'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: "mapbox/streets-v11",
    tileSize: 512,
    zoomOffset: -1,
    accessToken:
      "pk.eyJ1IjoicmFxdWVscmciLCJhIjoiY2trYTJsYXMwMGlxbjJwcGJtaTc5MHo2ciJ9.6QXcIbUPVGxL_5EqgtWbfw",
  }
).addTo(mymap);</script>



