<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Covid Travel Advice</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
</style>
    <div class="block">
      <div id="leftPart">
        <header>
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">HOME</a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="navbar-brand" href="/about-us">ABOUT</a>
                  </li>
                  {{!-- <li class="nav-item">
                    <a class="navbar-brand" href="/main">ADD INFO</a>
                  </li> --}}
                  <li class="nav-item">
                    <a class="navbar-brand" href="/main">REGISTER</a>
                  </li>
                  {{#if isUserLoggedIn }}
                  <li class="nav-item">
                    <a class="navbar-brand" href="/logout">LOG OUT</a>
                  </li>
                  <li class="nav-item">
                    <a class="navbar-brand" href="/profile">PROFILE</a>
                  </li>
                  {{else if isAdminLoggedIn}}
                  <li class="nav-item">
                    <a class="navbar-brand" href="/logout-admin">LOG OUT</a>
                  </li>
                  {{/if}}
                </ul>
              </div>
            </div>
          </nav>
        </header>
        <br>
        <h1>COVID TRAVEL ADVICE</h1>

        <h2>
          Check others experience on travelling during COVID, about restrictions
          and tests
        </h2>

        <img id="globe" src="/images/globe.png" alt="globe" />
      </div>

      <div id="rightPart">
        <h2>SELECT A COUNTRY</h2>
        <p>
          Choose the country that you want to travel to, to see the restrictions
        </p>
    
        <select name="travellingTo">
          <option value = ''>Please choose a country</option>
          {{#each mapCountry}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>

        <div id="mapid"></div>

        <script src="./js/countries.geo.js"></script>

        <script>


          let ourDataDromRoutes = {{{loc}}}
          var map = L.map('mapid').setView(ourDataDromRoutes, 5)
          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map);

          function getColor(d) {
              let colors = ['#f1b204']
              return colors[Math.floor(Math.random() * colors.length)]
          }

          function style(feature) {
              return {
                  fillColor: getColor(feature.properties.density),
                  weight: 2,
                  opacity: 1,
                  color: 'white',
                  dashArray: '3',
                  fillOpacity: 1
              };
          }

          L.geoJson(world, {
            style: style
          })
          .bindPopup((l) => {
              return '<a href="/travel-restrictions/' +  l?.feature?.properties?.name + '">' +  l?.feature?.properties?.name + '</a>'
          })
          .addTo(map);
        </script>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
