<div class ='container'>
  <h2>Thanks for your input!</h2>  
  <p class = 'info-success'>Our admins will verify it and will add the information to the database.</p>
  <h2>Stay safe!</h2>

  <img src='/images/GIF on Washing Hands.gif'>

</div>

