<form method="POST" action="/auth/login">
  <label>Username</label>
  <input type="username" name="username" placeholder="Enter your username"  >

  <label>Password</label>
  <input type="password" name="password" placeholder="Enter your Password"  >
  <button>Sign In</button>
<br>
  <p>Don't have an account yet? <a class="signUpLink" href="/auth/signup">Sign up here</a> </p>
</form>



{{#if msg}}
  <div class="error">{{msg}}</div>
{{/if}}