<h2>Add information for a country</h2>
<br>
<h3>Create an account or login to be able to add information about a country that you have travelled to </h3>


<div>
  <p>You've got some experience travelling suring COVID and want to share it? Login and add the info to help others!</p>
  <a href='/auth/login'>Login as a User</a>
</div>

<div>
    <p>Our super cool admins keep the information you add to our database verified!</p>
    <a href='/auth/login-admin'>Login as a Admin</a>
</div>

<div>
  <p>You dont have an account yet? Sign up now!</p>
  <a href='/auth/signup'>Sign up as a User</a>
</div>