<div class = "container">
  <h1>Add information for a country</h1>
  <br>
  <h2>Create an account or login to be able to add information about a country that you have travelled to </h2>

  <section id= "general-information">
    <div >
      <p>You've got some experience travelling during COVID and want to share it? Login and add the info to help others!</p>
      <a href='/auth/login'>Login as a User</a>
    </div>

    <div>
        <p>Our super cool admins keep the information you add to our database verified!</p>
        <a href='/auth/login-admin'>Login as a Admin</a>
    </div>
  </section>
    <div class = "buffer">
      <p>You don't have an account yet? Sign up now!</p>
      <a id="rebelButton" href='/auth/signup'>Sign up as a User</a>
    </div>
  
</div>