
<div class = 'container'>
<h1>We couldn't find what you're looking for</h1>

<img id="four-error" src= '/images/404-error.gif'>

<h2>Please go back to the <a id="linkHome" href="/">homepage</a> </h2>

</div>

