<h1>404 Error</h1>
<h2>This route does not exist on the app! Check if everything is ok! Check your routes to see what might have happened
</h2>

<img id="notFound" src="/images/404.jpg" alt="404 error">

<h2>We couldn't find what you're looking for</h2>
<h2>Try going back to the homepage</h2>

<form action="">
   <button>Home</button>
</form>
 
