<h3> Hey, {{data.username}}, welcome to your profile</h3>


<form action="/profile/{{data._id}}/delete" method="POST">
  <button>Delete</button>
</form>

<form action="/profile/{{data.id}}/edit" method="GET">
  <button type="submit">Edit</button>
</form>


<form action="/profile/{{data._id}}/delete" method="POST">
  <button>Delete</button>
</form>
