<h3> Hey, {{data.username}}, welcome to your profile</h3>

<img src="{{data.profilePic}} " alt="myPicture">


<form action="/profile/delete" method="POST">
  <button>Delete</button>
</form>

<form action="/profile/edit" method="GET">
  <button type="submit">Edit</button>
</form>

<form method="POST" action="/profile" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/png, image/jpg">
    <button type="submit">Submit</button> 
</form>   
