body {
  font: 16px Helvetica, Arial, sans-serif;
  background-size: 100%;
  background-color: #dde3e3;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

#mapid {
  height: 400px;
  width: 600px;
}

#navBar {
}

#leftPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #dde3e3;
}

#rightPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 50%;
  height: 100%;
}

#leftPart > h2 {
  color: black;
  font-weight: 400;
  font-size: 24px;
}

h2 {
  text-align: center;
  text-align: center;
  color: #45bbc6;
  font-weight: 700;
  font-size: 30px;
}

h1 {
  font-weight: 700;
  text-align: center;
  color: #f1b204;
}

.block {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#globe {
  width: 500px;
}

a {
  color: #45bbc6;
  text-decoration: none;
  font-size: 1.5em;
  white-space: nowrap;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
}

a:hover {
  color: #f1b204;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #45bbc6;
  border: 1px solid #45bbc6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: #f1b204;
  color: black;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  border-bottom: 2px solid #45bbc6;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 20px;
}

#to-right {
  padding: 1em;
  float: right;
}

#to-right span {
  color: #45bbc6;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}

/* Add these styles to your publc/stylesheets/style.css file */
@media (max-width: 1200px) {
  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140vw;
  }

  #leftPart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;
    width: 100vw;
  }

  #rightPart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;
    background-color: white;
    width: 100%;
    height: 100%;
  }
}
