body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-size: 100%;
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar-dark .navbar-toggler {
  color: black !important;
}

html {
  height: 100%;
}

#mapid {
  height: 400px;
  width: 600px;
}

.navbar-dark .navbar-brand {
  color: black;
}

.navbar-dark .navbar-brand:hover {
  color: #259391;
}

.bg-dark {
  background-color: white !important;
}

#leftPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #f5f5f5;
}

#rightPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 50%;
  height: 100%;
}

#rightPart > select {
  width: 50%;
  margin: 20px;
}

#leftPart > h2 {
  color: black;
  font-size: 20px;
}

#rightPart > h2 {
  color: #259391;
  font-weight: 800;
  font-size: 28px;
}

h2 {
  text-align: center;
  text-align: center;
  color: #182627;
  font-weight: 700;
  font-size: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#general-information {
  display: flex;
  justify-content: space-evenly;
}

#general-information div {
  font-size: 20px;
  text-align: center;
  border: 2px solid rgb(136, 135, 135);
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 rgb(102, 100, 100);
  margin: 20px 5% 0 5%;
  padding: 20px;
  background-color: #f3c136;
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  transition: transform 0.4s !important;
}

#general-information > div a:hover {
  color: black;
  transform: scale(1.15);
}

#general-information p {
  text-align: center;
}

.buffer {
  font-size: 20px;
  text-align: center;
  border: 2px solid rgb(136, 135, 135);
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 rgb(102, 100, 100);
  margin: 100px 5% 0 5%;
  padding: 20px;
  width: 40%;
  background-color: #f3c136;
}

.buffer > a {
  transition: transform 0.4s;
}

.buffer > a:hover {
  color: black;
  transform: scale(1.15) important;
}

#linkHome {
  font-size: 24px;
}

.signUpLink {
  font-size: 16px;
}

h1 {
  font-weight: 800;
  text-align: center;
  color: #f1b204;
}

.list-group > div {
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 rgb(102, 100, 100);
  width: 500px;
  padding: 20px;
}

.list-group-item {
  border: none;
}

#verifyEntries {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.container h1 {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: #f1b204;
}

.container h2 {
  font-size: 24px;
  font-weight: 100;
}

select {
  display: block;
  width: 100%;
}

.block {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#globe {
  width: 450px;
}

a {
  color: #1f1f1f;
  text-decoration: none;
  font-size: 1.5em;
  white-space: nowrap;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
}

a:hover {
  color: #259391;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 18px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #259391;
  border: 1px solid #259391;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: #f1b204;
  color: black;
  transition: 0.3s ease background;
}

.filters {
  display: flex;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

#to-right {
  padding: 1em;
  float: right;
}

#to-right span {
  color: #45bbc6;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}

.container > img {
  width: 400px;
  height: 400px;
}

.container > .info-success {
  font-size: 22px;
}

/* Styles for user profile*/

.profile-image > img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #45bbc6;
  object-fit: cover;
}

.container > p {
  color: #000;
  font-weight: bold;
  font-size: 1em;
}

/* for the about us page*/
.about-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 rgb(102, 100, 100);
  margin: 20px;
  padding-left: 10px;
}

.about-us .our-image {
  width: 200px;
  height: 200px;
  margin: 30px 30px 30px 40px;
}

/* Add these styles to your publc/stylesheets/style.css file */
@media (max-width: 1200px) {
  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140vw;
  }

  #leftPart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;
    width: 100vw;
  }

  #rightPart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;
    background-color: white;
    width: 100%;
    height: 100%;
  }
}
